extends layout

block content
    h3 Record Submitted!
    p Name : #{record.name}
    p Career Summary : #{record.careerSummary}
    p Experience : #{record.experience}
    p Expertise : #{record.expertise}
    p Languages : #{record.languages}
    p Education : #{record.education}
    br
    br
    form(method='POST' action="/enter-another")
        input(type='submit' value='Enter another mentor' class='entryButton')
